.MyName {
    position: absolute;
    background: rgba(0,0,0,0);
    z-index: 1000;
    color: rgba(0,0,0, 1);
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}

.LoadingContainer {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transition: 2s;
    z-index: 1000;
}
.LoadingContainer.fadeOut {
    opacity: 0;
    transition: 2s;
}


.LoadingText {
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: "PT Serif", serif;
    font-weight: 200;
    font-style: normal;
}

.lds-dual-ring {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 128px;
    height: 128px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #C0C0C0;
    border-color: #C0C0C0 transparent #C0C0C0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
